extends layout

block content
  div.container
    h1 Thoroughly Elberts, the converted gravestone

    div(ng-app="dummyApp" class="dummy-app")
      dummy-directive(show=true)

  script(src='/js/app.bundle.js')
